@model IEnumerable<BlogSite.Data.Category>
@{ Layout = null;}
<li class="menu-has-children">
    <a href="">Yazılım Dilleri</a>
    <ul>
        @foreach (var cat in Model)
        {


            <li><a href="/Kategori/Index/@cat.ID">@cat.Name</a> </li>
        }
        <!--Veritabanından Çekilecek-->
    </ul>
</li>